<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Otus Web 05</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/otus_web_05.css') }}">

</head>
<body>
    <div class="container-fluid header-container">
        <div class="row">
            <div class="col-md-10 main-title-holder">
                <a href="{{ url_for('home') }}">
                    <img src="http://cs629325.vk.me/v629325424/3cc26/sLaPK3YPg94.jpg">
                    <span class="main-title">Otus Web 05 Web Store Demo</span></a>
            </div>

        </div>
        <div class="row">
            <div class="col-md-2">
              <a href="{{ url_for('product_list') }}"><h2>Все товары</h2></a>
            </div>
        </div>

    </div>
    <div class="container-fluid">
        {% block content %}
            <h1>Base Template Content. Please make block content section.</h1>
        {% endblock %}
    </div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
