{% extends 'base.html' %}

{% block content %}
    <div class="row">
        <div class="col-md-3" style="display: inline-block">
        <h2>{{ product.name }}</h2>
        <img src="{{ product.image_url }}" class="product-img-big">
        </div>
        <div class="col-md-4" style="display: inline-block">
        {{ product.description | nl2br }}
        </div>
        <div class="col-md-3" style="display: inline-block">
            <h2>{{ product.price_kopeck | display_price }} ₽</h2>
        </div>
        <div class="col-md-2" style="display: inline-block">
        Категории:
        <ul>
        {% for category in product.categories %}
            <a href="{{ url_for('product_list', category=category.id) }}">{{ category.name }}</a>
        {% endfor %}
        </ul>
        </div>
    </div>

{% endblock %}
